<div>
    
      <ng-container matColumnDef="iro">
        <th mat-header-cell *matHeaderCellDef style="font-size: 15px;"> Író </th>
        <td mat-cell *matCellDef="let element"> {{element.iro}} </td>
      </ng-container>
    
      <ng-container matColumnDef="mufaj">
        <th mat-header-cell *matHeaderCellDef style="font-size: 15px;"> Műfaj </th>
        <td mat-cell *matCellDef="let element"> {{element.mufaj}} </td>
      </ng-container>
    
      <ng-container matColumnDef="cim">
        <th mat-header-cell *matHeaderCellDef style="font-size: 15px;">Cím</th>
        <td mat-cell *matCellDef="let element">{{ element.cim }}</td>
      </ng-container>
  
      <ng-container matColumnDef="mentes">
        <th mat-header-cell *matHeaderCellDef style="font-size: 15px;"> Mentés </th>
        <td mat-cell *matCellDef="let element"> {{element.mentes}} </td>
      </ng-container>
         
      <ng-container matColumnDef="torles">
        <th mat-header-cell *matHeaderCellDef style="font-size: 15px;"> Törlés </th>
        <td mat-cell *matCellDef="let element"> {{element.torles}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
   
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
   

    <button mat-button color="primary" (click)="onButtonClick()">Kolcsonzesek</button> 
  </div>
