<div class="background-image">
  <div class="container">
      <div class="row">
          <h1 class="col-12 text-center pt-2 pt-lg-4 library-title">Library</h1>
      </div>
      <div class="book-container row mt-5">
          <div class="col-12 text-center">
              <img src="/assets/Book.png" class="Book" alt="Book" (click)="navigateToOffers()">
              <img src="/assets/Book.png" class="Book rotated" alt="Rotated Book">
          </div>
      </div>
      <div class="row mt-5">
          <div class="col-12 text-center">
              <div class="btn-group" role="group">
               
              </div>
          </div>
      </div>  
  </div>
</div>